/* TOP BANNER */
@media (max-width: 1920px) and (min-width: 547px){
.top-banner{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background: linear-gradient(
        180deg,
        rgba(242, 140, 162, 1) 0%,
        rgba(242, 140, 162, 1) 10%,
        rgba(184, 118, 215, 1) 95%); 
        /* rgba(183, 119, 213, 1) 100%); */
    /* background: linear-gradient(0deg,rgba(183, 119, 213, 1) 0%, #F28CA2 100%); */
    position: relative;
    width: 100%;
    height: 170px;
    z-index: 1000;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 0;
}
}
.top-banner-text{
    font-family:sans-serif;
    font-size: 48px;
}
.quote{
    font-size: 25px;
    font-family:sans-serif;
}
.logo-container{
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 155.61px;
    height: 155.61px;
}

.logo-container img{
    object-fit: cover;
    border-radius: 50%;
}

@media (max-width: 547px){
    main{
        width: 100%;
    }
    .top-banner{
        padding-top: 0px;
        display: grid;
        justify-content: center;
        background: linear-gradient(
        180deg,
        rgba(242, 140, 162, 1) 0%,
        rgba(242, 140, 162, 1) 10%,
        rgba(184, 118, 215, 1) 90%); 
    }
    .top-banner-text{
        display:none;
        font-size: 25px;
        z-index: 1000;
    }
    .text-container{
        display: block;
    }
    .quote{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .logo-container{
        width: 100%;
        scale: 150%;
        margin-top: 30px;
        margin-bottom: 5px;
    }
}