.ws-table{
    background-color: #EDD9F5;
    width: 1100px;
    border-collapse: collapse;
    margin-top: 0px;
    margin-bottom: 10px;
}

.ws-table thead{
    background-color: #B777D5;
}

.ws-table tbody tr:nth-of-type(even){
    background-color: #F7F8FA;
}

.ws-table tbody tr:last-of-type {
    border-bottom: #B777D5 2px solid;
}
.ws-table tbody tr{
    border-bottom: #cd04ca 1px solid;
}
.ws-table th, 
.ws-table td{
    text-align: center;
    justify-items: center;
    max-width: 150px;
    min-width: 115px;
    overflow: hidden;
    position: relative;
    font-size: 14px;
}
 .student-holder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border: solid 1px black; */
    /* border-radius: 5px; */
    width: 100%;
    height: 100%;
    font-size: 10px;
    position: relative;
 }

 .teacher-name{
    font-size: 10px;
    background-color: rgb(217, 217, 217);
    border-radius: 5px;
 }

.modality{
    width: 10px;
    margin-right: 10px;
    font-size: 12.5px;
}

 .student-name{
    width: 125px;
 }