.section{
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 120px;
    padding-right: 120px;
    /* border: solid 1px red; */
}
.left{
    /* border: solid 2px blue; */
    overflow: hidden;
    border-radius: 20px;
    height: 400px;
    display: flex;
    justify-content:center;
}

.right{
    border-radius: 20px;
    overflow: hidden;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.info-container{
    overflow:auto;
    font-size: 18px;
    background-color: var(--ecc-dark-purple);
    text-align: justify;
    padding-right: 15px;
    padding-left: 15px;
    width: 70%;
}

.info-container h1{
    padding-left: 15px;
}

.img-container{
    background-color: black;
    width: 30%;
    /* border-radius: 0px 20% 20% 0px; */
}

.img-container img{
    /* border-radius: 0px 20px 20px 0px; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    content: url("https://scontent.cdninstagram.com/v/t51.82787-15/542964377_17853410154533292_7125844643190638642_n.jpg?stp=dst-jpg_e35_tt6&_nc_cat=105&ig_cache_key=MzcxNDY3ODg1Mzc2ODkwNTY0Mg%3D%3D.3-ccb1-7&ccb=1-7&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjEwODB4MTA4MC5zZHIuQzMifQ%3D%3D&_nc_ohc=tFkyQ_en9lgQ7kNvwHGdtn-&_nc_oc=AdmZx8XnAapar-ic1RyY3XHZvjnCfzirnhxORFW_vLZhc4x_cjeb7AttKNe8zbBHQZY5N0R6LMdCClEtQz-W9vkU&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.cdninstagram.com&_nc_gid=nbhw5lUOmReAEkKMa3RNvQ&oh=00_AfffJ3hc13ArIaf1hBXHkTolH4QjnAFavDIcbQjR8DWeCg&oe=68EEE043");
}

@media (max-width: 547px){
    .section{
        padding-top: 15px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 15px;
    }

    .img-container{
        position: relative;
        overflow: hidden;
    }
    .img-container img{
        object-fit: fill;
        position: absolute;
        width: 148px;
        content: url("https://i.pinimg.com/1200x/7a/9c/c3/7a9cc36f478969da92e2e9fee391a5b2.jpg");
    }

    h1{
        font-size: 26px;
    }
    .info-container{
        width: 59%;
    }
    .img-container{
        width: 41%;
    }
    .left{
        height: 400px;
    }
    .right{
        height: 400px;
    }
}
@media (min-width:547px) and (max-width: 768px){
    .section{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 10px;
    }

    .left{
        height: 330px;
    }
    .right{
        height: 330px;
    }

    .img-container img{
        content: url("ecc_logo.jpg");
    }
}
